# Copyright 2017 Autodesk, Inc.  All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk license agreement
# provided at the time of installation or download, or which otherwise accompanies
# this software in either electronic or hard copy form.
#

# To install these required Python modules install pip and run this command:
# pip install -r requirements.txt

PyYAML==3.12
https://github.com/shotgunsoftware/python-api/archive/v3.0.32.zip
